  .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  }
  .loginButton{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }