<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuai.hehe.api.mapper.CommentMapper">
	<select id="getCommentList" resultMap="commentResult">
		select
		c1.id as c1_id,
		c1.pid as c1_pid,
		c1.ppid as c1_ppid,
		c1.futuresId as c1_futuresId,
		c1.userId as c1_userId,
		c1.content as c1_content,
		c1.date as c1_date,
		u1.id as u1_id,
		u1.phone as u1_phone,
		u1.nickName as u1_nickName,
		c2.id as c2_id,
		c2.pid as c2_pid,
		c2.ppid as c2_ppid,
		c2.futuresId as c2_futuresId,
		c2.userId as c2_userId,
		c2.content as c2_content,
		c2.date as c2_date,
		u2.id as u2_id,
		u2.phone as u2_phone,
		u2.nickName as u2_nickName
		from comment as c1
        left join user as u1 on c1.userId=u1.id
        left join comment as c2 on c1.pid=c2.id
        left join user as u2 on c2.userId=u2.id
        WHERE c1.futuresId=#{futuresId} AND c1.id &lt; #{startCommentId} ORDER BY c1.id DESC LIMIT 30
	</select>

	<resultMap id="commentResult" type="com.shuai.hehe.api.entity.Comment">
		<id property="id" column="c1_id" />
		<result property="pid" column="c1_pid"/>
		<result property="ppid" column="c1_ppid"/>
		<result property="futuresId" column="c1_futuresId"/>
		<result property="content" column="c1_content"/>
		<result property="date" column="c1_date"/>
		<association property="user" resultMap="userMap" columnPrefix="u1_"/>
		<association property="originalComment" resultMap="originalCommentResult"/>
	</resultMap>

	<resultMap id="userMap" type="com.shuai.hehe.api.entity.User">
		<id property="id" column="id"/>
		<result property="phone" column="phone"/>
		<result property="nickName" column="nickName"/>
	</resultMap>

	<resultMap id="originalCommentResult" type="com.shuai.hehe.api.entity.Comment">
		<id property="id" column="c2_id" />
		<result property="pid" column="c2_pid"/>
		<result property="ppid" column="c2_ppid"/>
		<result property="futuresId" column="c2_futuresId"/>
		<result property="content" column="c2_content"/>
		<result property="date" column="c2_date"/>
		<association property="user" resultMap="userMap" columnPrefix="u2_"/>
	</resultMap>

</mapper>